<h1><%= @article.title %></h1>
<img id="article-img" src="<%= @article.img_url %>">
<h2>Created by <%= @article.author.username %> on <%= @article.created_on %></h2>
<% if @edit %>
<h2>Last edited by <%= @edit.editor.username %> at <%= @edit.edited_at %><h2>
<% else %>
<h2>This article has not been edited yet.</h2>
<% end %>
<h3>Ingredients:</h3>
  <ul>
    <li><%= @article.ingredients %></li>
  </ul>
<h3>Directions:</h3>
<p><%= @article.directions %></p>

<form action="/articles/<%= @article.id %>/edit">
    <input type="submit" value="Edit">
</form>

<form action="/articles/:id">
    <input type="submit" value="Delete">
</form>

<h4>Tags:</h4>
<% if @categories %>
<ul>
  <% @categories.each do |category| %>
    <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
  <% end %>
</ul>
<% else %>
<h4>None</h4>
<% end %>

<a href="/articles/<%= @article.id %>/categories/new">Add Tag</a>

<a href="/articles">All Recipes</a>
