<div class="article">
<h1><%= @article.title %></h1>
  <div class="content">
    <div class="col-1-3">
      <img id="article-img" src="<%= @article.img_url %>" alt="photo">
      <div class="actions">
        <form action="/articles/<%= @article.id %>/edit">
          <input type="submit" value="Edit">
        </form>
        <form action="/articles/:id">
          <input type="submit" value="Delete">
        </form>
      </div>
      <div class="credits">
        <p>Created by <%= @article.author.username %> on <%= @article.created_on %></p>
        <% if @edit %>
        <p>Last edited by <%= @edit.editor.username %> at <%= @edit.edited_at %></p>
        <% else %>
        <h3>This article has not been edited yet.</h3>
        <% end %>
      </div>
      <div class="tags">
        <h2>Tags:</h2>
          <ul>
            <% @categories.each do |category| %>
              <% if category %>
                <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
            <% else %>
                <li>None</li>
            <% end %>
          <% end %>
          <li><a href="/articles/<%= @article.id %>/categories/new">Add Tag</a></li>
        </ul>
      </div>
    </div>
    <div class="col-2-3">
      <h3>Ingredients:</h3>
      <p><%= markdown(@article.ingredients) %></p>
      <h3>Directions:</h3>
      <p><%= markdown(@article.directions) %></p>
    </div>
  </div>
  <div class="footer">
      <a href="/">Home</a>
      <a href="/users">Chefs</a>
      <a href="/categories">Tags</a>
      <a href="/articles">All Recipes</a>
  </div>

